* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --mainOrange: #f15025;
  --mainYellow: #d2aa5c;
}

body {
  background: white;
  color: black;
  font-family: 'Caveat', cursive;
}